/*----------公共样式----------*/

*{
	margin:0;
	padding:0;
}

html,body{
	width: 100%;
	height: 100%;
}

ul li{
	list-style: none;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}

/*----------遮罩层----------*/


.load_wrap{
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	left: 0;
	top: 0;
}

.load{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: pink;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin:auto;
}


/*----------开始游戏----------*/
.wrap{
	width: 100%;
	height: 100%;
}

.begin{
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.challenge{
	width: 70%;
	position: absolute;
	left: 20%;
	top: 12%;
	animation-delay: 0.8s;
}




.win{
	width: 95%;
	position: absolute;
	top: 25%;
}

.start{
	width: 34%;
	position: absolute;
	left: 0;
	right: 0;
	top: 60%;
	margin: auto;
	animation: startAni 0.5s infinite alternate;
}


@keyframes startAni{
	from{
		-webkit-transform:scale(1);
	}
	to{
		-webkit-transform:scale(1.1);
	}
}



.hand{
	width: 15%;
	position: absolute;
	left: 59%;
	top: 70%;
	animation: handAni 1s infinite alternate;
}


@keyframes handAni{
	from{
		opacity:0;
	}
	to{
		opacity: 1;
	}
}

.btn_wrap{
	width:90%;
	position: absolute;
	left: 5%;
	top: 86%;
}

.ranking{
	width: 20%;
	position: absolute;
	left: 7%;
	top: 87.2%;
}

.rule{
	width: 20%;
	position: absolute;
	left: 29%;
	top: 87.2%;
}

.prize{
	width: 20%;
	position: absolute;
	left: 51%;
	top: 87.2%;
}

.instruction{
	width: 20%;
	position: absolute;
	left: 73%;
	top: 87.2%;
}


/*----------填写资料----------*/

.files_mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
}

form{
	width: 74%;
	height: 44%;
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	margin:auto;
	background: url(../img/p1_from.png) 0 0 no-repeat;
	background-size:100% 100%;
}

.files_mask form input{
	position: absolute;
	outline: none;
	border-radius: 10px;
	border:2px solid #e33145;
}

.files_mask form input:nth-child(1){
	width: 72%;
	height: 14%;
	top: 33.5%;
	left: 12.7%;
	background: #f2bb00;
	font-size: 16px;
}

.files_mask form input:nth-child(2){
	width: 72%;
	height: 14%;
	top: 50.5%;
	left: 12.7%;
	background: #f2bb00;
	font-size: 16px;
}

.files_mask form input:nth-child(3){
	width: 54.85%;
	height: 17.2%;
	left: 23.5%;
	top: 68.5%;
	background: #e33145;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}


.files_mask img{
	position: absolute;
	left: 79%;
	top: 13.5%;
}


/*----------数钱榜----------*/

.leaderboard{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.leaderboard div{
	position: absolute;
	left: 0;
	right: 0;
	top: 19.63%;
	width: 58%;
	height: 40.5%;
	margin:auto;
	padding:14.8% 7.8% 8.688%;
	background:url(../img/ranking_bg.png) 0 0 no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.leaderboard>img{
	position: absolute;
	left: 79%;
	top: 13.5%;
}

.leaderboard div ul{
	width: 85%;
	height: 80%;
	position: absolute;
	left: 0;
	right: 0;
	top: 17%;
	margin:auto;
	font-size: 14px;
	overflow: scroll;
}

.leaderboard div ul li{
	border-bottom: 1px dashed #999;
	padding-bottom: 4.2%;
	padding-top: 5.5%;
	overflow: hidden;
}

.leaderboard div ul li img{
	width: 44px;
	height: 44px;

}

.leaderboard div ul li span{
	vertical-align: top;
	line-height: 44px;
}

.leaderboard div ul li span:nth-of-type(1){
	display: inline-block;
	width: 21px;
	height: 44px;
	line-height: 44px;
}

.leaderboard div ul li span:nth-of-type(3){
	float: right;
}

.first{
	background: url(../img/p1_first.png) left center no-repeat;
	background-size: 80%;

}

.second{
	background: url(../img/p1_second.png) left center no-repeat;
	background-size: 80%;

}

.third{
	background: url(../img/p1_third.png) left center no-repeat;
	background-size: 80%;

}


/*----------活动规则----------*/

.activity_rule{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}

.activity_rule>img{
	position: absolute;
	left: 79%;
	top: 13.5%;
}

.activity_rule div{
	width: 63.5%;
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	margin: auto;
	background:#ffead1;
	font-size: 14px;
	border-radius: 10px;
	border:2px solid #e33145;
	padding: 25px 18px 18px 18px;
}

.activity_rule div h2{
	text-align: center;
	padding: 10px;
	font-size: 23px;
}

.activity_rule p{
	margin:5px 0;
}


/*----------活动奖品----------*/


.reward{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}

.reward>img{
	position: absolute;
	left: 79%;
	top: 13.5%;
}

.reward div{
	width: 63.5%;
	top: 20%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	background:#ffead1;
	font-size: 14px;
	border-radius: 10px;
	border:2px solid #e33145;
	padding:25px 15px 25px 15px;
}

.reward h2{
	text-align: center;
	font-size: 23px;
}

.reward p{
	margin:20px 0;
}


/*----------奖券使用说明----------*/

.use_instruction{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	overflow: scroll;
}

.use_instruction>img{
	position: absolute;
	left: 79%;
	top: 13.5%;
}

.use_instruction div{
	width: 63.5%;
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	margin: auto;
	background:#ffead1;
	font-size: 14px;
	border-radius: 10px;
	border:2px solid #e33145;
	padding: 25px 18px 18px 18px;
}

.use_instruction h2{
	text-align: center;
	font-size: 23px;
}

.use_instruction p{
	margin:25px 0 10px 0;
}


/*----------进入游戏----------*/

.play{
	width: 100%;
	height: 100%;
	background: url(../img/bg2.png) 0 0 no-repeat;
	background-size:100% 100%;
	overflow: hidden;
	position: relative;
	display: none;
}

.title{
	width: 84%;
	height: 19%;
	line-height: 18%;	
	background: url(../img/p2_message_box.png) 0 0 no-repeat;
	background-size: 100% 100%;
	margin:23% auto 0;
	position: relative;
}

.title img{
	width: 83%;
	height: 60%;
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	margin:auto;
}

.time_score{
	text-align: center;
	margin:10px 0;
}

.time_score span{
	display: inline-block;
	line-height: 60px;
	margin: 0 0.5%;
	color: #fff;
	font-size: 20px;
}

.score{
	width: 11%;
	height: 60px;
	background: url(../img/p2_scoring.png) 0 0 no-repeat;
	background-size: 100% 100%;

}

.time_score span:last-child{
	width: 60px;
	height: 60px;
	background: url(../img/clock.png);
	background-size:100% 100%;
}

.money{
	width: 60%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -165px;
	margin:auto;
}

.money img{
	width: 100%;
}

.brick{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	width: 100%;
}

.move_hand{
	width: 35%;
	position: absolute;
	right: 2%;
	bottom: 22%;
	margin: auto;
	animation:moveHandAni 1s infinite;
}


@keyframes moveHandAni{
	from{
		bottom: 22%;
		opacity: 1;
	}
	to{
		bottom: 35%;
		opacity: 0;
	}
}


/*----------再来一次----------*/

.again{
	width: 100%;
	height: 100%;
	background:url(../img/p3_bg.jpg) 0 0 no-repeat;
	background-size:100% 100%;
	position: relative;
}

.congratulation{
	width: 69.68%;
	position: absolute;
	left: 0;
	right: 0;
	top: 13.38%;
	margin: auto;
}

.again_pic{
	width: 27.8%;
	position: absolute;
	left: 15.9%;
	bottom: 27.11%;	
}

.share{
	width: 27.8%;
	position: absolute;
	right: 15.9%;
	bottom: 27.11%;
}

#result_num{
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: #fff;
	position: absolute;
	top: 23%;
}

#result_txt{
	width: 100%;
	position: absolute;
	top: 35%;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

#gains{
	width: 80%;
	text-align: center;
	color: #d21026;
	font-size: 14px;
	background:#fff;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin:auto;
	padding: 3% 0;
	border-radius: 10px;
}

.toFriends{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}

.toFriends img{
	position: absolute;
	right: 5%;
	top: 5%;
	width: 50%;
}




